<%- include('partials/header.ejs') %>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
          <h1> <%= blogData.title %></h1>
            <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
            <span class="meta">Posted by
              <a href="#"> <%= blogData.user %></a>
            <% var date = new Date(parseInt(blogData.createdAt)); %>
            on <%= date.toString().split(" ").slice(1,5).join(" "); %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-8 col-md-10 mx-auto">
          <%- blogData.content %>
      </div>
    </div>
  </article>

<%- include('partials/footer.ejs') %>